<div class="buttons are-small">
  <% tests.AC.each_with_index do |ac, num| %>
    <% if ac.locked? %>
      <%= link_to "AC#{num + 1}", '#', class: 'button', disabled: true %>
    <% else %>
      <%= link_to "AC#{num + 1}", edit_test_path(ac), class: 'button' %>
    <% end %>
  <% end %>

  <% if tests.PP.first.locked? %>
    <%= link_to 'PP', '#', class: 'button is-primary', disabled: true %>
  <% else %>
    <%= link_to 'PP', edit_test_path(tests.PP.first), class: 'button is-primary' %>
  <% end %>

  <% if tests.PT.first.locked? %>
    <%= link_to 'PT', '#', class: 'button is-primary', disabled: true %>
  <% else %>
    <%= link_to 'PT', edit_test_path(tests.PT.first), class: 'button is-primary' %>
  <% end %> 

  <% if sq.quarter == 3 %>
    <% if tests.EX.first.locked? %>
      <%= link_to 'EX', '#', class: 'button is-primary', disabled: true %>
    <% else %>
      <%= link_to 'EX', edit_test_path(tests.EX.first), class: 'button is-primary' %>
    <% end %>
  <% end %>
</div>