<section class="section">
  <div class="container">
    <h1 class="title"><%= @batch.description %></h1>

    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Disciplina</th>
          <th>Trimestre</th>
          <th>Pauta</th>
          <th>Notas</th>
          <th>Avaliação Contínua</th>
        </tr>
      </thead>
      <tbody>
        <% @lectures_with_tests.each do |lecture_with_tests| %>
          <% @school_quarters.each do |sq| %>
            <% if lecture_with_tests[:sq] == sq %>
              <% lecture = lecture_with_tests[:lecture] %>
              <% tests = lecture_with_tests[:tests] %>
              <tr>
                <td><%= lecture.subject.description %></td>
                <td><%= sq.quarter %></td>
                <td>
                  <%= link_to 'AC', lecture_tests_path(lecture, kind: 'AC', school_quarter_id: sq.id), 
                    class: 'button is-link is-light' %>
                  <%= link_to 'Trimestral', lecture_tests_path(lecture, kind: 'Trimestral', school_quarter_id: sq.id), 
                    class: 'button is-link is-light' %>
                </td>
                <td>
                  <div class="buttons are-small">
                    <% tests.AC.each_with_index do |ac, num| %>
                        <%= link_to "AC#{num + 1}", edit_test_path(ac), class: 'button' %>
                    <% end %>
                    <%= link_to 'PP', edit_test_path(tests.PP.first), class: 'button is-primary' %>
                    <%= link_to 'PT', edit_test_path(tests.PT.first), class: 'button is-primary' %>
                  </div>
                </td>

                <td><%= link_to 'Adicionar', lecture_tests_path(lecture,
                    test: { lecture_id: lecture.id, max_score: 5, kind: 'AC', school_quarter_id: sq.id }, student_test: { score: 0 }
                  ), class: 'button', method: :post %>
                </td>
              </tr>
            <% end %>
          <% end %>
        <% end %>        
      </tbody>
    </table>
  </div>
</section>