<section class="section">
  <div class="container">
    <h1 class="title"><%= @batch.description %></h1>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Disciplina</th>
          <th>Trimestre</th>
          <th>Pauta</th>
          <th>Notas</th>
          <th>Avaliação Contínua</th>
        </tr>
      </thead>
      <tbody>
        <% @lectures.each do |lecture| %>
          <% @school_quarters.each do |sq| %>
            <tr>
              <% tests = lecture.tests.find_by_school_quarter(sq) %>
              <td><%= lecture.subject.description %></td>
              <td><%= sq.quarter %></td>
              <td>
                <%= link_to 'AC', scoresheets_path(lecture_id: lecture.id, kind: 'AC', school_quarter_id: sq.id), 
                  class: 'button is-link is-light' %>
                <%= link_to 'Trimestral', scoresheets_path(lecture_id: lecture.id, kind: 'Trimestral', school_quarter_id: sq.id), 
                  class: 'button is-link is-light' %>
              </td>
              <td>
                <%= render 'lectures/tests_buttons', sq: sq, tests: tests %>
              </td>
              <% student_tests_attributes = [] %>
              <% lecture.students.each do |student| %>
                <%
                  student_tests_attributes << { score: 0, student_id: student.id }
                %>
              <% end %>
              <td>
                <%= link_to 'Adicionar', lecture_tests_path(lecture,
                      test: { lecture_id: lecture, max_score: 5, kind: 'AC', school_quarter_id: sq, 
                      student_tests_attributes: student_tests_attributes }
                    ), class: 'button', method: :post %>
              </td>
            </tr>
            
          <% end %>
        <% end %>        
      </tbody>
    </table>
  </div>
</section>