<%= form_with model: student, class: 'form' do |f| %>
  <div class="field">
    <%= f.label :first_name, 'Primeiro nome', class: 'label' %>
    <div class="control">
      <%= f.text_field :first_name, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :last_name, 'Último nome', class: 'label' %>
    <div class="control">
      <%= f.text_field :last_name, class: 'input' %>
    </div>
  </div>

  <div class="control">
    <%= f.submit 'Ok', class: 'button is-primary' %>
  </div>
<% end %>