  <div class="field">
    <%= f.label :description, 'Descrição', class: 'label' %>
    <div class="control">
      <%= f.text_field :description, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :acronymn, 'Abreviação', class: 'label' %>
    <div class="control">
      <%= f.text_field :acronymn, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :kind, 'Tipo', class: 'label' %>
    <div class="control">
      <span class="select">
        <%= f.select :kind, kinds %>
      </span>
    </div>
  </div>