<%= form_with model: course, class: 'form' do |f| %>
  <div class="field">
    <%= f.label :description, 'Descrição', class: 'label' %>
    <div class="control">
      <%= f.text_field :description, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :acronymn, 'Abreviação', class: 'label' %>
    <div class="control">
      <%= f.text_field :acronymn, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :kind, 'Tipo', class: 'label' %>
    <div class="control">
      <span class="select">
        <%= f.select :kind, kinds %>
      </span>
    </div>
  </div>

  <h2 class="subtitle">Adicionar disciplinas ao curso</h2>
  <div class="columns">
    <% school_grades.each do |school_grade| %>
      <div class="panel column">
        <p class="panel-heading"><%= school_grade.grade %> Classe</p>

        <% subjects.each do |subject| %>
          <%= f.fields_for :course_subjects do |cs| %>
            <%= cs.hidden_field :school_grade_id, value: school_grade.id %>
            
            <label class="panel-block">
              <%= cs.check_box :subject_id, checked_value: subject.id %>
              <%= subject.description %>
            </label>
          <% end %>
        <% end %>

      </div>
    <% end %>
  </div> 

  <div class="control">
    <%= f.submit 'Ok', class: 'button is-primary' %>
  </div>
<% end %>