<nav class="panel">
    <p class="panel-heading">Estudantes</p>
    <p class="panel-tabs">
      <%= link_to 'Nesta Turma', batch_enrollments_path(@batch), class: 'is-active', remote: true %>
      <%= link_to 'Todos', students_path(batch_id: @batch.id), remote: true %>
    </p>
    <% batch.enrollments.each do |enrollment| %>
      <%= render 'batches/student', student: enrollment.student, kind: 'remove', batch_id: batch.id %>
    <% end %>
</nav>

<%= form_with model: batch, class: 'form' do |f| %>
  <div class="field">
    <%= f.label :batch_director_id, 'Director de turma', class: 'label' %>
    <div class="control">
      <div class="select">
        <% if batch_director.nil? %>
          <%= f.select :batch_director_id, teachers, { prompt: '-------------' }, required: true %>
        <% else %>
          <%= f.select :batch_director_id, teachers, { selected: batch_director.id }, required: true %>
        <% end %>
      </div>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Disciplina</th>
        <th>Professor</th>
      </tr>
    </thead>
    <tbody>  
      <%= f.fields_for :lectures do |lectures_f| %>
        <% lecture = lectures_f.object %>
        <%= render 'batches/lecture_table_row', lecture: lecture, f: lectures_f, teachers: teachers %>
      <% end %>
    </tbody>
  </table>
  
  <%= f.submit 'Ok', class: 'button is-primary' %>
  <%= link_to 'Voltar', batch_path(@batch), class: 'button' %>
<% end %>
