<%= form_with model: batch, class: 'form' do |f| %>
  <nav class="panel">
    <p class="panel-heading">Estudantes</p>
    <div class="panel-block">
      <p class="control">
        <%= render 'batches/search_form' %>
      </p>
    </div>
    <p class="panel-tabs">
      <%= link_to 'Nesta Turma', batch_enrollments_path(@batch), class: 'is-active', remote: true %>
      <%= link_to 'Todos', students_path(batch_id: @batch.id), remote: true %>
    </p>
    <% batch.enrollments.each do |enrollment| %>
      <%= render 'batches/student', student: enrollment.student, kind: 'remove', batch_id: batch.id %>
    <% end %>
  </nav>
<% end %>