<section class="section">
  <div class="container">
    <h2 class="title"><%= @batch.description %> | <%= link_to 'Notas', batch_lectures_path(@batch) %></h2>
    <%= link_to 'Pauta Global', scoresheets_global_path(batch_id: @batch.id) %>
    <h2 class="subtitle">Estudantes</h2>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Nome</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @batch.students.each do |student| %>
          <tr>
            <td><%= student.full_name %></td>
            <td><%= link_to 'Abrir', student_path(student, batch_id: @batch.id) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>