<section class="section">
  <div class="container">
    <h1 class="title">Avaliações Contínuas</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Curso</th>
          <th>Disciplina</th>
          <th>Turma</th>
          <th>Trimestre</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th><%= @lecture.course.description %></th>
          <th><%= @lecture.subject.description %></th>
          <th><%= @lecture.batch.description %></th>
          <th><%= @school_quarter.quarter %></th>
        </tr>
      </tbody>
    </table>

    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Nome</th>
          <% for num in 1..@num_of_ac %>
            <th>AC<%= num %></th>
          <% end %>
          <th><abbr title="Média das Avaliações Contínuas">MAC</abbr></th>
        </tr>
      </thead>

      <tbody>
        <% @students_with_tests.each do |student_tests| %>
          <% student = student_tests[:student] %>
          <% tests = student_tests[:tests] %>
          <tr>
            <td><%= student.full_name %></td>
            <% tests.AC.each do |test| %>
              <td><%= test.student_tests.first.score %></td>
            <% end %>
            <td><%= tests.MAC.first.student_tests.first.score %></td>           
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
