<section class="section">
  <div class="container">
    <h1 class="title">Avaliações Contínuas</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Curso</th>
          <th>Disciplina</th>
          <th>Turma</th>
          <th>Trimestre</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th><%= @lecture.course.description %></th>
          <th><%= @lecture.subject.description %></th>
          <th><%= @lecture.batch.description %></th>
          <th><%= @school_quarter.quarter %></th>
        </tr>
      </tbody>
    </table>

    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Nome</th>
          <th><abbr title="Média das Avaliações Contínuas">MAC</abbr></th>
          <th><abbr title="Prova do Professor">PP</abbr></th>
          <th><abbr title="Prova do Trimestre">PT</abbr></th>
          <th><abbr title="Média Trimestral">MT</abbr></th>
        </tr>
      </thead>

      <tbody>
        <% @students_with_tests.each do |student_with_tests| %>
          <% student = student_with_tests[:student] %>
          <% tests = student_with_tests[:tests] %>
          <tr>
            <th><%= student.full_name %></th>
            <th><%= tests.MAC.first.student_tests.first.score %></th>
            <th><%= tests.PP.first.student_tests.first.score %></th>
            <th><%= tests.PT.first.student_tests.first.score %></th>
            <th><%= tests.MT.first.student_tests.first.score %></th>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
