<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <h1 class="navbar-item">
      <%= link_to 'SGP', root_url %>
    </h1>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= render 'layouts/navbar_links' %>
    </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <%= current_user.profile.first_name %>
        </a>
        <div class="navbar-dropdown is-right">
          <% if current_user.admin? %>
            <%= link_to 'Editar perfil', edit_admin_path(current_user.profile), class: 'navbar-item' %>
          <% elsif current_user.teacher? %>
            <%= link_to 'Editar perfil', edit_teacher_path(current_user.profile), class: 'navbar-item' %>
          <% end %>
          <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: 'navbar-item' %>
        </div>      
      </div>
  </div>
</nav>